obj/*
lib/*
*.eps
*~
make.inc
h2opus.scanbuild/
include/h2opusconf.h
examples/hara/test_hara
examples/hgemv/test_hgemv
examples/hgemv/test_hgemv_dist
examples/ns/test_ns
examples/hcompress/test_hcompress
examples/hcompress/test_hcompress_dist
examples/hlru/test_hlru_global
examples/horthog/test_horthog
examples/horthog/test_horthog_dist
examples/fd/test_fd
examples/fd/test_fd_dist
examples/fd/test_fd_petsc
examples/tlr/test_tlr
